body,
html {
  margin-left: 25px;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50%, 50%;
  }
  main {
    grid-column: span 6;
  }

  aside {
    grid-column: span 6;
  }
}
@media (min-width: 768px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;
  }
}

.input {
  margin-top: 10px;
  margin-bottom: 15px;
}

#myCanvas {
  border: 1px solid black;
}
